<p id="notice"><%= notice %></p>

<h1><%= @student.whole_name %></h1>

<p>
  <%= link_to 'Classmates', teacher_students_path(@student.teacher) %>
</p>

<p>
  <b>Grade:</b>
  <%= link_to @student.teacher.grade.name, grade_path(@student.teacher.grade) %>
</p>

<p>
  <b>Teacher:</b>
  <%= link_to @student.teacher.whole_name, teacher_path(@student.teacher) %>
</p>

<p>
  <b>Parent:</b>
</p>
<ul>
<% @student.parents.each do |parent| %>
<li><%= link_to parent.whole_name, parent_path(parent) %></li>
<% end %>
</ul>
