<p id="notice"><%= notice %></p>

<p>
  <b>name:</b>
  <%= @student.whole_name %>
</p>

<p>
  <%= link_to 'Classmates', teacher_students_path(@student.teacher) %>
</p>

<p>
  <b>Grade:</b>
  <%= link_to @student.teacher.grade.name, grade_path(@student.teacher.grade) %>
</p>

<p>
  <b>Teacher:</b>
  <%= link_to @student.teacher.whole_name, teacher_path(@student.teacher) %>
</p>
