<p id="notice"><%= notice %></p>

<h1><%= @teacher.whole_name %></h1>
<ul>
	<li><%= @teacher.grade.name %></li>
	<li><%= @teacher.phone_number %></li>
	<li><%= @teacher.email %></li>
</ul>

<% if @teacher.students.size != 0 %>
  <p><%= link_to 'Students', teacher_students_path(@teacher) %></p>
<% end %>
